.wp-block-justin-wp-plugins-accordion-parent{
    display: flex;
    flex-direction: row;
    background: antiquewhite;
}
.wp-block-justin-wp-plugins-accordion-parent>*>*>.block-editor-block-list__layout{
    display: flex;
}